# Power BI temporary / local files
*.pbit
~$*.xlsx
~$*.xlsm
*.tmp

# Excel temporary files
~$*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Local secrets / credentials
.env
*.pem
*.key
